<div ng-controller="NotificationPanelCtrl">
    <h2 class="title">Notifications</h2>

    <div class="notification">
        <div class="notification-desc">This is a notification description. It might clip off the page, but that's OK.</div>
        <div class="notification-dismiss"><button type="button" class="close">&times;</button></div>
    </div>
    <div class="notification">
        <div class="notification-desc">This is a notification description. It might clip off the page, but that's OK.</div>
        <div class="notification-dismiss"><button type="button" class="close">&times;</button></div>
    </div>
    <div class="notification">
        <div class="notification-desc">This is a notification description. It might clip off the page, but that's OK.</div>
        <div class="notification-dismiss"><button type="button" class="close">&times;</button></div>
    </div>
    <div class="dismiss-all">
        <button type="button" class="btn btn-link">Clear All</button>
    </div>
</div>